<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zakiadev.sikatax">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zakiadev.sikatax.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zakiadev.sikatax.SettingAwalPerusahaanActivity"/>
        <activity android:name="com.zakiadev.sikatax.SettingNeracaAwalActivity"/>
        <activity android:name="com.zakiadev.sikatax.MenuUtamaActivity"/>
        <activity android:name="com.zakiadev.sikatax.MenuLaporanAcvtivity"/>
        <activity android:name="com.zakiadev.sikatax.MenuPengaturanActivity"/>
        <activity android:name="com.zakiadev.sikatax.LaporanJurnalUmum"/>
        <activity android:name="com.zakiadev.sikatax.LaporanNeracaSaldoActivity"/>
        <activity android:name="com.zakiadev.sikatax.LaporanLabaRugi"/>
        <activity android:name="com.zakiadev.sikatax.LaporanNeracaActivity"/>
        <activity android:name="com.zakiadev.sikatax.LaporanPerubahanEkuitas"/>
        <activity android:name="com.zakiadev.sikatax.LaporanArusKas2"/>
        <activity android:name="com.zakiadev.sikatax.SettingDataPerusahaan"/>
        <activity android:name="com.zakiadev.sikatax.PilihDebetActivity"/>
        <activity android:name="com.zakiadev.sikatax.PilihKreditActivity"/>
        <activity android:name="com.zakiadev.sikatax.JurnalKecActivity"/>
        <activity android:name="com.zakiadev.sikatax.EditDataJurnalActivity"/>
        <activity android:name="com.zakiadev.sikatax.TambahDataJurnalActivity"/>
        <activity android:name="com.zakiadev.sikatax.ClearDataActivity"/>
        <activity android:name="com.zakiadev.sikatax.DaftarAkunActivity"/>
        <activity android:name="com.zakiadev.sikatax.DaftarJenisAkun"/>
        <activity android:name="com.zakiadev.sikatax.MateriWebView1"/>
        <activity android:name="com.zakiadev.sikatax.MateriWebView2"/>
        <activity android:name="com.zakiadev.sikatax.MenuUtamaMateri"/>
        <activity android:name="com.zakiadev.sikatax.PetunjukActivity"/>
        <activity android:name="com.zakiadev.sikatax.AboutAppsActivity"/>
        <activity android:name="com.zakiadev.sikatax.AboutDevActivity"/>
        <activity android:name="com.zakiadev.sikatax.IntroActivity"/>
        <activity android:name=".SubMenuLaporanKeuangan"/>
        <activity android:name=".SubMenuPajakUMKM"/>
        <activity android:name=".LaporanPajakUMKM"/>
        <activity android:name=".LaporanRasioProfitabilitas"/>
        <activity android:name=".LaporanRasioLikuiditas"/>

    </application>

</manifest>